body {
    height: 100%;
    background-color: #434040
}

.play-box {
    position: absolute;
    right: 0;
    left: 0;
    opacity: 1;
    width: 66%;
    max-width: 1600px;
    margin: 0 auto 20px;
    border-radius: 3px;
    background-color: #FFF;
    background-clip: padding-box;
    box-shadow: 0 5px 10px rgba(0,0,0,1)
}

.back-website-btn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
    border: 0;
    background: 0 0
}

#palyer-iframe {
    width: 100%;
    height: 659px;
    background-color: #000
}

.input-group-addon {
    padding: 0;
    border: none
}

.text-control {
    height: 40px;
    background: #f2f3f5;
    border: 1px solid #f2f3f5;
    border-right: 0
}

.btn-play {
    color: #fff;
    border: none;
    height: 40px;
    padding: 0 40px;
    background: -webkit-linear-gradient(left,#ffb199,#FE5200);
    background: -o-linear-gradient(left,#ffb199,#FE5200);
    background: -moz-linear-gradient(left,#ffb199,#FE5200);
    background: linear-gradient(left,#ffb199,#FE5200)
}

.btn-play:hover,.btn-play:visited {
    color: #FFF;
    background: -webkit-linear-gradient(left,#ffb199,#FE5200);
    background: -o-linear-gradient(left,#ffb199,#FE5200);
    background: -moz-linear-gradient(left,#ffb199,#FE5200);
    background: linear-gradient(left,#ffb199,#FE5200)
}

.bottom-tips {
    margin-top: 10px
}

.operation {
    margin: 5px 10px
}

.mobile-input {
    margin: 10px 0
}

.qrcode {
    text-align: center;
    margin-top: -15px
}

.qrcode #qrcodeFollow {
    width: 200px;
    height: 200px
}

.jconfirm-box {
    text-align: center
}

.stress {
    color: #c22727
}

.player-url-tips {
    font-size: 13px;
    background-color: #F3F3F3;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0
}

.player-url-tips>div {
    margin-bottom: 5px
}

#current-play-url {
    text-decoration: underline
}

@media (max-width: 768px) {
    .input-group-addon,.input-group-btn,.select-control {
        width:100%
    }

    .play-box {
        width: 90%
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .play-box {
        width:80%
    }
}
