
body{
-moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
	}
.nightBg{}
.blackmb{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);
    }

#loading{position: absolute; left: 0; top: 0; z-index: 999; width: 100%; height: 100%;}
#loading .stage{position: absolute; left: 50%; top: 50%;}
.indexbg {position:fixed; left:0; top:0; width:100%; height:100%;  background-size: cover;}
.indexbg.bg1{background: url("../images/morning.jpg") no-repeat bottom center;  z-index:0; background-size: cover;}
.indexbg.bg2{background: url("../images/day.jpg") no-repeat bottom center;  z-index:1; background-size: cover;}
.indexbg.bg3{background: url("../images/nightbg.jpg") no-repeat bottom center; z-index:2; background-size: cover;}

.box1{position: fixed; left: 0; top: 0; width: 100%;; height: 100%; z-index:99;}

.box1.morning{ }
.box1 .blackBg{position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; background-color: rgba(0,0,0,.8);}
.logo{position: absolute; left: 50%; top: 35%; width: 1215px; height: 58px; margin-left: -607px; z-index: 3;}
.logo .logo1{position: absolute; top: 0; height: 58px; width: auto;}
.box1 .nav{position: absolute; left: 50%; margin-left: -297px; bottom: 30px; z-index: 99; width: 594px; height: 45px;}
.box1 .nav ul{width: 640px; height: auto;}
.box1 .nav ul li{position: relative; float: left; display: inline-block; *display:inline; zoom:1; margin-right: 55px;}
.box1 .nav ul li a{font-size: 14px; color: #ccc; transition:color .5s;}
.box1 .nav ul li.on a{color: #fff;}
.box1 .nav ul li:hover a{color: #fff;}
.box1 .nav ul li em{position: absolute; left: 50%; margin-left: -1px; top: -10px; width: 2px; height: 5px; background-color: #cccccc;}
.box1 .nav .linedot{position: absolute; top:-20px; left: 10px; width: 545px; height: 1px; border-bottom: 2px dashed; border-color: rgba(255,255,255, .2);}
.box1 .nav .linedot .linewhite{position: absolute; left: 0; top: 1px; width: 100px; height: 2px; background-color: #fff;}
.box1 .nav .linedot i{position: absolute; left: 0; top: -7px; z-index: 9; display: block; width: 8px; height: 8px;}
.box1 .beian{position: absolute; left: 50%; margin-left: -45%; bottom: 20px; z-index: 99; font-size: 13px; color: #666; text-align: center; width: 90%; line-height: 30px; }

.dtxk,.dtxk2,.dtxk3{position:absolute; left:50%; margin-left: -111px; bottom:42px; width:222px; height:53px; z-index:99999;}
.dtxk img{position: absolute; left: 0; top: 0;
    opacity: .3;
    animation-name: bw;                         /* 动画名称 */
    animation-duration: 3s;                         /* 动画时长3秒 */
    animation-timing-function: linear;         /* 动画速度曲线：以低速开始和结束 */
    animation-iteration-count: infinite;            /* 播放次数：无限 */

    /* Safari and Chrome */
    -webkit-animation-name: bw;                 /* 动画名称 */
    -webkit-animation-duration: 3s;                 /* 动画时长3秒 */
    -webkit-animation-timing-function: linear; /* 动画速度曲线：以低速开始和结束 */
    -webkit-animation-iteration-count: infinite;    /* 播放次数：无限 */

}

@keyframes bw {
    from { opacity: 0.4; transform: scale(0.6);}                                                   
    50%  { opacity: 0.2; transform: scale(1.5);}                        
    to   { opacity: 0; transform: scale(2);}                           
}

@-webkit-keyframes bw {
    from { opacity: 0.4; transform: scale(0.6);}                                                   
    50%  { opacity: 0.2; transform: scale(1.5);}                        
    to   { opacity: 0; transform: scale(2);}   
}


.dtxk2 img{
    position: absolute; left: 0; top: 0;
    opacity: .3;
    animation-name: dt;                         /* 动画名称 */
    animation-duration: 3s;                         /* 动画时长3秒 */
    animation-timing-function: linear;         /* 动画速度曲线：以低速开始和结束 */
    animation-iteration-count: infinite;            /* 播放次数：无限 */
    animation-delay: 0.8s;

    /* Safari and Chrome */
    -webkit-animation-name: dt;                 /* 动画名称 */
    -webkit-animation-duration: 3s;                 /* 动画时长3秒 */
    -webkit-animation-timing-function: linear; /* 动画速度曲线：以低速开始和结束 */
    -webkit-animation-iteration-count: infinite;    /* 播放次数：无限 */
    -webkit-animation-delay: 0.8s;

}

@keyframes dt {
    from { opacity: 0.4; transform: scale(0.6);}                                                   
    50%  { opacity: 0.2; transform: scale(1.5);}                        
    to   { opacity: 0; transform: scale(2);}                            
}

@-webkit-keyframes dt {
    from { opacity: 0.4; transform: scale(0.6);}                                                   
    50%  { opacity: 0.2; transform: scale(1.5);}                        
    to   { opacity: 0; transform: scale(2);}    
}

.dtxk3 img{
    position: absolute; left: 0; top: 0;
    opacity: .3;
    animation-name: dd;                         /* 动画名称 */
    animation-duration: 3s;                         /* 动画时长3秒 */
    animation-timing-function: linear;         /* 动画速度曲线：以低速开始和结束 */
    animation-iteration-count: infinite;            /* 播放次数：无限 */
    animation-delay: 1.5s;

    /* Safari and Chrome */
    -webkit-animation-name: dd;                 /* 动画名称 */
    -webkit-animation-duration: 3s;                 /* 动画时长3秒 */
    -webkit-animation-timing-function: linear; /* 动画速度曲线：以低速开始和结束 */
    -webkit-animation-iteration-count: infinite;    /* 播放次数：无限 */
    -webkit-animation-delay: 1.5s;

}

@keyframes dd {
    from { opacity: 0.4; transform: scale(0.6);}                                                   
    50%  { opacity: 0.2; transform: scale(1.5);}                        
    to   { opacity: 0; transform: scale(2);}                          
}

@-webkit-keyframes dd {
    from { opacity: 0.4; transform: scale(0.6);}                                                   
    50%  { opacity: 0.2; transform: scale(1.5);}                        
    to   { opacity: 0; transform: scale(2);}  
}

.lang{position: fixed; right: 20px; top: 15px; z-index: 999; font-size: 15px; color: #fff; opacity: 0.6;
transition: opacity 1s;
    -moz-transition: opacity 1s; /* Firefox 4 */
    -webkit-transition: opacity 1s; /* Safari 和 Chrome */
    -o-transition: opacity 1s;/* Opera */
    }
.lang.pc:hover{opacity: 1;}

/*首页logo呼吸效果*/
.hander_night{position: absolute; left: 50%; margin-left: -75px; bottom: 140px; z-index: 999; width: 150px; height: 128px;}
.hander_night img.img1,.hander_night img.img2{
	width: 100%;
    position: absolute;
    left: 0;
    top: 0;
	opacity: 1; cursor: pointer;
    
}
.hander_night .img1.hx{
    /* IE10、Firefox and Opera，IE9以及更早的版本不支持 */
    animation-name: breath;                         /* 动画名称 */
    animation-duration: 3s;                         /* 动画时长3秒 */
    animation-timing-function: ease-in-out;         /* 动画速度曲线：以低速开始和结束 */
    animation-iteration-count: infinite;            /* 播放次数：无限 */

    /* Safari and Chrome */
    -webkit-animation-name: breath;                 /* 动画名称 */
    -webkit-animation-duration: 3s;                 /* 动画时长3秒 */
    -webkit-animation-timing-function: ease-in-out; /* 动画速度曲线：以低速开始和结束 */
    -webkit-animation-iteration-count: infinite;    /* 播放次数：无限 */
}



@keyframes breath {
    from { opacity: 0.4; }                          /* 动画开始时的不透明度 */
    50%  { opacity: 1; }                          /* 动画50% 时的不透明度 */
    to   { opacity: 0.4; }                          /* 动画结束时的不透明度 */
}

@-webkit-keyframes breath {
    from { opacity: 0.4; }                          /* 动画开始时的不透明度 */
    50%  { opacity: 1; }                          /* 动画50% 时的不透明度 */
    to   { opacity: 0.4; }                          /* 动画结束时的不透明度 */
}

.hander_night img.jiao1{
    position: absolute;
    display: block;
    width: 28px;
    height: 25px;
    left:60px;
    top:-72px;
    opacity: .1;
    /*top:-30px;*/
    animation-name: jiao;                         /* 动画名称 */
    animation-duration: 1s;                         /* 动画时长3秒 */
    animation-timing-function: linear;         /* 动画速度曲线：以低速开始和结束 */
    animation-iteration-count: infinite;            /* 播放次数：无限 */
    animation-delay: 5s;

    /* Safari and Chrome */
    -webkit-animation-name: jiao;                 /* 动画名称 */
    -webkit-animation-duration: 1s;                 /* 动画时长3秒 */
    -webkit-animation-timing-function: linear; /* 动画速度曲线：以低速开始和结束 */
    -webkit-animation-iteration-count: infinite;    /* 播放次数：无限 */
    -webkit-animation-delay: 3s;
}
@keyframes jiao {
    from { top: -72px; opacity: .1;}                          /* 动画开始时的不透明度 */
    50%  { top: -50px; opacity: .8; }                          /* 动画50% 时的不透明度 */
    to   { top: -30px; opacity: .2; }                          /* 动画结束时的不透明度 */
}

@-webkit-keyframes jiao {
    from { top: -72px; opacity: .1;}                          /* 动画开始时的不透明度 */
    50%  { top: -50px; opacity: .8; }                          /* 动画50% 时的不透明度 */
    to   { top: -30px; opacity: .2; }                          /* 动画结束时的不透明度 */
}
.hander_night img.jiao2{
    position: absolute;
    display: block;
    width: 27px;
    height: 24px;
    /*left:-16px;
    bottom:0;*/
    left:-56px;
    bottom:-22px;
    opacity: .1;
    animation-name: jiao2;                         /* 动画名称 */
    animation-duration: 1s;                         /* 动画时长3秒 */
    animation-timing-function: linear;         /* 动画速度曲线：以低速开始和结束 */
    animation-iteration-count: infinite;            /* 播放次数：无限 */
    animation-delay: 3s;

    /* Safari and Chrome */
    -webkit-animation-name: jiao2;                 /* 动画名称 */
    -webkit-animation-duration: 1s;                 /* 动画时长3秒 */
    -webkit-animation-timing-function: linear; /* 动画速度曲线：以低速开始和结束 */
    -webkit-animation-iteration-count: infinite;    /* 播放次数：无限 */
    -webkit-animation-delay: 3s;
}
@keyframes jiao2 {
    from { bottom: -22px; left: -56px; opacity: .1;}                          /* 动画开始时的不透明度 */
    50%  { bottom: -10px; left: -26px; opacity: .8; }                          /* 动画50% 时的不透明度 */
    to   { bottom: 0px; left: -16px; opacity: .2; }                          /* 动画结束时的不透明度 */
}

@-webkit-keyframes jiao2 {
    from { bottom: -22px; left: -56px; opacity: .1;}                          /* 动画开始时的不透明度 */
    50%  { bottom: -10px; left: -26px; opacity: .8; }                          /* 动画50% 时的不透明度 */
    to   { bottom: 0px; left: -16px; opacity: .2; }                          /* 动画结束时的不透明度 */
}
.hander_night img.jiao3{
    position: absolute;
    display: block;
    width: 27px;
    height: 24px;
    /*right:-16px;
    bottom:0;*/
    right:-56px;
    bottom:-20px;
    opacity: .1;
    animation-name: jiao3;                         /* 动画名称 */
    animation-duration: 1s;                         /* 动画时长3秒 */
    animation-timing-function: linear;         /* 动画速度曲线：以低速开始和结束 */
    animation-iteration-count: infinite;            /* 播放次数：无限 */
    animation-delay: 3s;

    /* Safari and Chrome */
    -webkit-animation-name: jiao3;                 /* 动画名称 */
    -webkit-animation-duration: 1s;                 /* 动画时长3秒 */
    -webkit-animation-timing-function: linear; /* 动画速度曲线：以低速开始和结束 */
    -webkit-animation-iteration-count: infinite;    /* 播放次数：无限 */
    -webkit-animation-delay: 3s;
}
@keyframes jiao3 {
    from { bottom: -22px; right: -56px; opacity: .1;}                          /* 动画开始时的不透明度 */
    50%  { bottom: -10px; right: -26px; opacity: .8; }                          /* 动画50% 时的不透明度 */
    to   { bottom: 0px; right: -16px; opacity: .2; }                          /* 动画结束时的不透明度 */
}

@-webkit-keyframes jiao3 {
    from { bottom: -22px; right: -56px; opacity: .1;}                          /* 动画开始时的不透明度 */
    50%  { bottom: -10px; right: -26px; opacity: .8; }                          /* 动画50% 时的不透明度 */
    to   { bottom: 0px; right: -16px; opacity: .2; }                          /* 动画结束时的不透明度 */
}



/*大树生长---夜晚*/
.tree{position: absolute; left:50%; bottom:75px; margin-left: -450px; z-index: 999; width: 900px; height: 810px;}
.tree img{position: absolute; left: 0; top: 0; display: block; width: 100%;}
.tree img.tr{z-index: 9;}
.tree img.tr1{z-index: 7;}

.tree ul li{position: absolute; display: inline-block; z-index: 99; *display:inline; zoom:1; height: 28px; line-height: 28px; font-size: 16px;}
.tree.tree_night ul li{color: #d9d8db;}
.tree.tree_night ul li a{color: #d9d8db}
.tree.tree_night img{opacity: 0;}

.tree img.tr1{opacity: 1; cursor: pointer;
    /* IE10、Firefox and Opera，IE9以及更早的版本不支持 */
    animation-name: breathtree;                         /* 动画名称 */
    animation-duration: 3s;                         /* 动画时长3秒 */
    animation-timing-function: ease-in-out;         /* 动画速度曲线：以低速开始和结束 */
    animation-iteration-count: infinite;            /* 播放次数：无限 */

    /* Safari and Chrome */
    -webkit-animation-name: breathtree;                 /* 动画名称 */
    -webkit-animation-duration: 3s;                 /* 动画时长3秒 */
    -webkit-animation-timing-function: ease-in-out; /* 动画速度曲线：以低速开始和结束 */
    -webkit-animation-iteration-count: infinite;    /* 播放次数：无限 */
}


@keyframes breathtree {
    from { opacity: 0.4; }                          /* 动画开始时的不透明度 */
    50%  { opacity: 1; }                          /* 动画50% 时的不透明度 */
    to   { opacity: 0.4; }                          /* 动画结束时的不透明度 */
}

@-webkit-keyframes breathtree {
    from { opacity: 0.4; }                          /* 动画开始时的不透明度 */
    50%  { opacity: 1; }                          /* 动画50% 时的不透明度 */
    to   { opacity: 0.4; }                          /* 动画结束时的不透明度 */
}

.tree ul li:nth-child(1){left:-1.5rem; top: 52%;}
.tree ul li:nth-child(2){left:18%; top: 12%;}
.tree ul li:nth-child(3){left:60%; top: 3%;}
.tree ul li:nth-child(4){right:13%; top: 16%;}
.tree ul li:nth-child(5){right:2%; bottom: 36%;}
.tree ul li em{position: absolute; z-index: 9; display: block; width: 18px; height: 18px; transition:width .3s,height .3s,margin-left .3s,margin-top .3s;
    -moz-border-radius: 100%; /* Firefox */
    -webkit-border-radius: 100%; /* Safari 和 Chrome */
    border-radius: 100%; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}
.tree.tree_night ul li em{
    background: rgba(98,214,121,.2);   /*支持rgba的浏览器*/ 
}
.tree.tree_night.night ul li em{
    background: rgba(98,214,121,.5);   /*支持rgba的浏览器*/ 
}

.tree ul li em i{position: absolute; left: 50%; top: 50%; margin-left: -5px; margin-top: -5px; z-index: 9; display: block; width: 10px; height: 10px;  transition:width .3s,height .3s,margin-left .3s,margin-top .3s;}
.tree ul li em i{
    background: rgba(255,255,255,.5);   /*支持rgba的浏览器*/
    -moz-border-radius: 100%; /* Firefox */
    -webkit-border-radius: 100%; /* Safari 和 Chrome */
    border-radius: 100%; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}
.tree ul li span{position: relative; left: 0; top: 0; display: inline-block; }
.tree ul li span i{font-size: 14px; line-height: 14px; position: relative; top:-2px; display: block;}
.tree ul li:hover span{font-weight: bold;}
.tree ul li:hover em{width:24px; height: 24px; margin-left: -3px; margin-top: -3px;}
.tree ul li:hover em i{width: 14px; height: 14px; margin-left: -7px; margin-top: -7px;}
.tree ul li:nth-child(1) em,.tree ul li:nth-child(2) em{right:-26px; top: 6px;}
.tree ul li:nth-child(3) em,.tree ul li:nth-child(4) em,.tree ul li:nth-child(5) em{left:-26px; top: 6px;}
.particle{position: absolute; left:50%; bottom:140px; margin-left: -100px; z-index: 1; width: 220px; height: 810px;}
.tree ul li small{line-height: 12px; display: block; position: absolute; width: 0;  top: 14px; border-top:2px dotted #ccc;}
.tree ul li:nth-child(1) small,.tree ul li:nth-child(2) small{right: 4px;}
.tree ul li:nth-child(3) small,.tree ul li:nth-child(4) small,.tree ul li:nth-child(5) small{left: 4px;}
/* ---- 首页光斑效果 ---- */
canvas{
    display:block;
    vertical-align:bottom;
}


#stats{
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.count-particles{
    border-radius: 0 0 5px 5px;
}


#particles-js{
    width: 100%;
    height: 100%;
}

@media screen and (min-width:1480px) and (max-width:1680px){

    .hander_night{position: absolute; left: 50%; margin-left: -75px; bottom: 100px; z-index: 99;  width: 150px; height: 128px;}
    .hander_night img{width: 100%; height: auto;}
    .tree{position: absolute; left:50%; bottom:75px; margin-left: -390px; z-index: 999; width: 700px; height: 630px;}
    .dtxk,.dtxk2,.dtxk3{position:absolute; left:50%; margin-left: -111px; bottom:30px; width:222px; height:53px; z-index:99999;}
}

@media screen and (min-width:1280px) and (max-width:1479px){
    .hander_night{position: absolute; left: 50%; margin-left: -75px; bottom: 100px; z-index: 99; width: width: 150px; height: 128px;}
    .hander_night img{width: 100%; height: auto;}
    .tree{position: absolute; left:50%; bottom:75px; margin-left: -350px; z-index: 999; width: 700px; height: 630px;}
    .dtxk,.dtxk2,.dtxk3{position:absolute; left:50%; margin-left: -111px; bottom:25px; width:222px; height:53px; z-index:99999;}
}
@media screen and (max-width:1280px) {
    .hander_night{position: absolute; left: 50%; margin-left: -75px; bottom: 100px; z-index: 99;  width: 150px; height: 128px;}
    .hander_night img{width: 100%; height: auto;}
    .tree{position: absolute; left:50%; bottom:75px; margin-left: -350px; z-index: 999; width: 700px; height: 630px;}
    .logo{position: absolute; left: 50%; top: 35%; width: 80%; height: auto; margin-left: -40%; }
    .logo img{width: 100%; height: auto;}
    .dtxk,.dtxk2,.dtxk3{position:absolute; left:50%; margin-left: -111px; bottom:25px; width:222px; height:53px; z-index:99999;}
}
@media screen and (max-width:1080px) {
    .hander_night{position: absolute; left: 50%; margin-left: -75px; bottom: 6rem; z-index: 99; width: 150px; height: 128px;}
    .hander_night img{width: 100%; height: auto;}
    .tree{position: absolute; left:50%; bottom: 4.2rem; margin-left: -11rem; z-index: 999; width: 21.8rem; height: 19.6rem;}
    .box1 .beian{position: absolute; left: 50%; margin-left: -45%; bottom: 0.5rem; z-index: 99; font-size: 0.62rem; color: #666; text-align: center; width: 90%; line-height: 0.92rem; }
    .box1 .beian span{display: block; font-size: 0.62rem;}
    .tree ul{position: fixed; left: 50%; top: 0; width: 1px; height: 40%; background-color: rgba(255,255,255,.1);}
    .tree ul li{position: absolute; display: inline-block; z-index: 99; *display:inline; zoom:1; width: 4rem; height: 28px; line-height: 28px; font-size: 1rem;}
    .tree ul li:nth-child(1){left:50%; top: 1.5rem; margin-left: -5.05rem;}
    .tree ul li:nth-child(2){left:50%; top: 4rem; margin-left: 1.05rem;}
    .tree ul li:nth-child(3){left:50%; top: 6.5rem; margin-left: -5.05rem;}
    .tree ul li:nth-child(4){left:50%; top: 9rem; margin-left: 1.05rem;}
    .tree ul li:nth-child(5){left:50%; top: 11.5rem; margin-left: -5.05rem;}
    .tree ul li:nth-child(1) em{left:4.5rem; top: 6px;}
    .tree ul li:nth-child(3) em{left:4.5rem; top: 6px;}
    .tree ul li:nth-child(2) em{right:4.5rem; top: 6px;}
    .tree ul li:nth-child(4) em{right:4.5rem; top: 6px;}
    .tree ul li:nth-child(5) em{left:4.5rem; top: 6px;}
    .dtxk,.dtxk2,.dtxk3{position:absolute; left:50%; margin-left: -111px; bottom:2px; width:222px; height:53px; z-index:99999;}
}

@media screen and (max-width:360px) {
    .hander_night{position: absolute; left: 50%; bottom: 5rem; }
    .tree{position: absolute; left:50%; bottom: 3.6rem;}
     .tree ul{position: fixed; left: 50%; top: 0; width: 1px; height: 38%; }
     .tree ul li:nth-child(1){left:50%; top: 2rem; margin-left: -5.05rem;}
    .tree ul li:nth-child(2){left:50%; top: 4.5rem; margin-left: 1.05rem;}
    .tree ul li:nth-child(3){left:50%; top: 6.7rem; margin-left: -5.05rem;}
    .tree ul li:nth-child(4){left:50%; top: 9.5rem; margin-left: 1.05rem;}
    .tree ul li:nth-child(5){left:50%; top: 12rem; margin-left: -5.05rem;}
}


